@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./css/clash-display.css";

:root {
  font-family: "ClashDisplay-Regular";
}
#search{
  background: transparent;
}
#title.move h1{

  color:black;
}
#titleicon{
  transition: 1s ease-in-out;
}
#titleicon.move{
  transform:translate(calc(-40vw - 6.5rem),8rem) rotate(-90deg)
}

#title.move h1:nth-child(1){
  transform:translate(-40vw,0vh)
}
#title h1:nth-child(1){
  transition: 0.5s ease-in-out;
}
#title.move h1:nth-child(2){
  transform:translate(calc(-40vw - 0.8rem),1.7rem)
}
#title h1:nth-child(2){
  transition: 0.6s ease-in-out;
}

#title.move h1:nth-child(3){
  transform:translate(calc(-40vw - 1.6rem),3rem)
}
#title h1:nth-child(3){
  transition: 0.7s ease-in-out;
}
#title.move h1:nth-child(4){
  transform:translate(calc(-40vw - 2.8rem),4.4rem)
}
#title h1:nth-child(4){
  transition: 0.8s ease-in-out;
}

#title.move h1:nth-child(5){
  transform:translate(calc(-40vw - 4rem),6.1rem)
}
#title h1:nth-child(5){
  transition: 0.9s ease-in-out;
}

#title.move h1:nth-child(6){
  transform:translate(calc(-40vw - 4.8rem),7.85rem)
}
#title h1:nth-child(6){
  transition: 1.0s ease-in-out;
}
#title.move h1:nth-child(7){
  transform:translate(calc(-40vw - 5.5rem),9.2rem)
}
#title h1:nth-child(7){
  transition: 1.1s ease-in-out;
}
#title.move h1:nth-child(8){
  transform:translate(calc(-40vw - 6.5rem),10.6rem)
}
#title h1:nth-child(8){
  transition: 1.2s ease-in-out;
}
#title.move h1:nth-child(9){
  transform:translate(calc(-40vw - 7.2rem),12.25rem)
}
#title h1:nth-child(9){
  transition: 1.3s ease-in-out;
}
#title.move h1:nth-child(10){
  transform:translate(calc(-40vw - 7.8rem),13.85rem)
}
#title h1:nth-child(10){
  transition: 1.4s ease-in-out;
}
#title.move h1:nth-child(11){
  transform:translate(calc(-40vw - 8.6rem),15.25rem)
}
#title h1:nth-child(11){
  transition: 1.5s ease-in-out;
}

#title h1:hover{
  transition: 0.2s ease-in-out;
  color: beige;
}

#minimenu.move h2:nth-child(1){
  transform:translateX(-16vw);
  transition: 1s ease-in-out;
}
#minimenu h2:nth-child(1){
  transition: 2s ease-in-out;
}

#minimenu.move h2:nth-child(2){
  transform:translateX(-16vw);
}
#minimenu h2:nth-child(2){
  transition: 1.5s ease-in-out;
}

#minimenu.move h2:nth-child(3){
  transform:translateX(-16vw);
  transition: 2s ease-in-out;
}
#minimenu h2:nth-child(3){
  transition: 1s ease-in-out;
}


#buttonspan {
  position: absolute;
  cursor: pointer;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: #ccc;
  transition:0.4s;
}
#buttonspan:before {
  position: absolute;
  content:"";
  height:26px;
  width:26px;
  left:4px;
  bottom:4px;
  background-color: white;
  transition: 0.4s;
}
#buttoninput:checked + #buttonspan{
  background-color: black;
}
#buttoninput:focus + #buttonspan {
  box-shadow: 0 0 1px black;
}

#buttoninput:checked + #buttonspan:before{
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}







