@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./css/clash-display.css";

:root {
  font-family: "ClashDisplay-Regular";
}
#search{
  background: transparent;
}
#title.move h1{

  color:black;
}
#titleicon{
  transition: 1.5s ease-in-out;
}
#titleicon.move{
  transform:translate(calc(-40vw - 6rem),8rem) rotate(-90deg)
}

#title.move h1:nth-child(1){
  transform:translate(-40vw,0vh)
}
#title h1:nth-child(1){
  transition: 1s ease-in-out;
}
#title.move h1:nth-child(2){
  transform:translate(calc(-40vw - 0.75rem),1.5rem)
}
#title h1:nth-child(2){
  transition: 1.1s ease-in-out;
}

#title.move h1:nth-child(3){
  transform:translate(calc(-40vw - 1.4rem),2.9rem)
}
#title h1:nth-child(3){
  transition: 1.2s ease-in-out;
}
#title.move h1:nth-child(4){
  transform:translate(calc(-40vw - 2.45rem),4.3rem)
}
#title h1:nth-child(4){
  transition: 1.3s ease-in-out;
}

#title.move h1:nth-child(5){
  transform:translate(calc(-40vw - 3.5rem),6rem)
}
#title h1:nth-child(5){
  transition: 1.4s ease-in-out;
}

#title.move h1:nth-child(6){
  transform:translate(calc(-40vw - 4.2rem),7.8rem)
}
#title h1:nth-child(6){
  transition: 1.5s ease-in-out;
}
#title.move h1:nth-child(7){
  transform:translate(calc(-40vw - 4.8rem),9.15rem)
}
#title h1:nth-child(7){
  transition: 1.6s ease-in-out;
}
#title.move h1:nth-child(8){
  transform:translate(calc(-40vw - 5.75rem),10.6rem)
}
#title h1:nth-child(8){
  transition: 1.7s ease-in-out;
}
#title.move h1:nth-child(9){
  transform:translate(calc(-40vw - 6.3rem),12.2rem)
}
#title h1:nth-child(9){
  transition: 1.8s ease-in-out;
}
#title.move h1:nth-child(10){
  transform:translate(calc(-40vw - 6.8rem),13.75rem)
}
#title h1:nth-child(10){
  transition: 1.9s ease-in-out;
}
#title.move h1:nth-child(11){
  transform:translate(calc(-40vw - 7.5rem),15rem)
}
#title h1:nth-child(11){
  transition: 2s ease-in-out;
}

#title h1:hover{
  transition: 0.2s ease-in-out;
  color: beige;
}

#minimenu.move h2:nth-child(1){
  transform:translateX(-16vw);
  transition: 1s ease-in-out;
}
#minimenu h2:nth-child(1){
  transition: 2s ease-in-out;
}

#minimenu.move h2:nth-child(2){
  transform:translateX(-16vw);
}
#minimenu h2:nth-child(2){
  transition: 1.5s ease-in-out;
}

#minimenu.move h2:nth-child(3){
  transform:translateX(-16vw);
  transition: 2s ease-in-out;
}
#minimenu h2:nth-child(3){
  transition: 1s ease-in-out;
}





